:root {
  --main-color: #212121;
  --accient-color: #2196f3;
  --text-color: #757575;
  --logo-color: #000;
  --title-color: #fff;
  --footer-color: rgba(255, 255, 255, 0.6);
  --background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --portfolio-border-color: #ececec;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}

/* --- КОНТЕЙНЕР --- */
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* --- ШАПКА --- */

.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var();
}


.header-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.header-logo {
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-right: 0;  
}

.header-span {
  color: var(--accient-color);
}

.header-list, .header-contacts {
  display: flex;
  gap: 50px;
}

.header-link:hover {
  color: var(--accient-color);
}

.header-contact:hover {
  color: var(--accient-color);
}

.header-link {
  color: var(--main-color);
  font-size: 14px;
  font-weight: 500;
  padding: 32px 0;
  display: block;
}

.header-contacts {
  margin-left: auto;
}

.header-contact {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
}

/* --- HERO --- */
.hero {
  background-color: var(--background-color);
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  color: var(--title-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto 30px;
}

.hero-button {
  background-color: var(--accient-color);
  color: var(--title-color);
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
}

/* --- ПЕРЕВАГИ --- */
.advantages {
  padding: 94px 0;
}

.advantages-list {
  display: flex;
  gap: 30px;
}

.advantages-item {
  flex-basis: calc((100% - 90px) / 4);
}

.advantages-subtitle {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.advantages-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* --- КОМАНДА --- */
.work {
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.work-list, .team-list {
  display: flex;
  gap: 30px;
}

.team {
  background-color: var(--team-background-color);
  padding: 94px 0;
}

.team-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-name {
  margin: 30px 0 10px;
  font-size: 16px;
  font-weight: 500;
}

.team-role {
  color: var(--text-color);
  margin-bottom: 30px;
}

/* --- ПОРТФОЛІО--- */
.portfolio { 
  padding: 94px 0; 
  border-top: 1px solid var(--portfolio-border-color);
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-btn {
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
}

.filter-btn.active, .filter-btn:hover {
  background-color: var(--accient-color);
  color: #fff;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  max-width: 370px;
}

.portfolio-wrapper {
  padding: 20px 24px;
}

.portfolio-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 4px;
}

.portfolio-type {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}
/* --- ФУТЕР --- */
.footer {
  background-color: var(--background-color);
  padding: 60px 0;
}

.footer-logo {
  color: var(--title-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  display: inline-block;
  margin-bottom: 20px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-address {
  color: var(--title-color);
}

.footer-span {
  color: var(--accient-color);
}

.footer-link {
  color: var(--footer-color);
}